<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="container my-4 mt-4">

    <h4> Contact Us</h4>
    <p>Have questions or need assistance? We're here to help!</p>

    <h4>Customer Support</h4>
    <p>Our dedicated customer support team is ready to assist you with any inquiries or concerns. Whether it's a technical issue, feedback, or a general question, we're just a message away.</p>

    <h4>Get in Touch</h4>
    <p>We value your feedback and strive to provide the best possible experience. Reach out to us via email or use the contact form below.<br>
      <span><b>Email:</b>faizank9058@gmail.com</span>
      <br>
      <span><b>Phone:</b> +919389612947</span>
    </p>

  

    <h4>Stay Connected</h4>
    <p>Stay informed about the latest updates, health tips, and news by connecting with us on social media. Join our community on:<br>
      <a href="#">Facebook</a>
      <br>
      <a href="#">Instagram</a>
    </p>
    <h4>Location</h4>
    <p>Moradabad, india</p>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>