<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-4 mt-4">
      <h5>Faizan Khan: Your AI & ML Engineer</h5>
      <h6>Meet the Developer</h6>
      <p>
        Hello, I'm Faizan Khan, a final-year B.Tech student in Computer Science,
        specializing in Artificial Intelligence at Teerthanker Mahaveer
        University. As an aspiring software developer with a strong interest in
        AI and Machine Learning, I am passionate about exploring innovative
        solutions that connect technology with real-world challenges.
      </p>

      <h5>On the Path to Excellence</h5>
      <p>
        With a foundation in computer science and a keen interest in AI, I am
        dedicated to honing my skills and building a career that focuses on
        creating impactful and user-friendly technologies. My academic journey
        and personal projects reflect a commitment to learning and growth.
      </p>

      <h5>Fueling My Passion for AI</h5>
      <p>
        Artificial Intelligence has the potential to transform industries and
        lives. By delving into its diverse applications, I aim to contribute to
        advancements that make technology more accessible and beneficial for
        everyone.
      </p>

      <h5>Let's Collaborate</h5>
      <p>
        If you share a vision for innovation and progress, I'd love to connect.
        Together, we can explore opportunities to shape the future of AI and
        Machine Learning.
      </p>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
